.backdropCover{
  background-image: linear-gradient(90deg,#fef9fd 150px,rgba(254,254,253,.84) 80%);
  padding: 0 50px;
  width: calc(100% - 50px);
}
.backdropImage{
  background-position: right -200px top;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 0 0 -50px;
  max-width: 100%;
  padding: 0 50px;
}
.movieInfoWrapper{
  min-height: 100vh;
  padding: 40px 0;
}
.movieInfoContainer{
  display:flex;
}
.moviePosterWrapper{
  max-width: 400px;
  min-width: 300px;
}
.moviePoster{
  width: 100%;
}
.movieDataWrapper{
  padding-left: 30px;
}
.movieDataHeader h3{
  display: flex;
  flex-direction: column;
  text-align: baseline;
}
.movieDataHeader h2{
  margin: 0 10px 0 0;
}
.movieDataHeader>h3{
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  margin: 5px 0 0;
}
.movieDataHeaderDate{
  font-size: 14px;
  font-weight: 400;
  opacity: .8;
}
.tagList{
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}
.dataList{
  display: flex;
  flex-direction: column;
  font-size: 14px;
  list-style-type: none;
  margin: 10px 0 0;
  padding: 0;
}
.dataList li{
  margin-bottom: 10px;
}
.descriptionContainer {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  margin-top: 10px;
}
.descriptionContainer>h3{
  font-size: 1.17em;
}
@media screen and (max-width: 768px) {
  .movieInfoContainer{
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .movieDataWrapper{
    padding: 20px 0 0;
  }
}