.header{
  align-items: center;
  background-color: var(--backgroundHeader);
  box-shadow: 0 0 5px grey;
  display: flex;
  justify-content: space-between;
  padding: 5px 50px;
  position: sticky;
  top: 0;
  z-index: var(--zIndexHeader);
}

.icon{
  height: 44px;
  width: 40px;
}

.modalSigninButton{
  background: transparent;
  border: none;
  border-radius: 3px;
  color: var(--black);
  cursor: pointer;
  font: inherit;
  outline: inherit;
  padding: 0;
}

.modalSigninButton:hover{
  border-bottom: 2px solid var(--secondary);
  margin-bottom: -2px;
  }

.navigationLI{
  margin: 15px 20px;
}

.navigationUL{
  display: flex;
  list-style: none;
  margin: 0;
}

.navigationULSidebar{
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
}